* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

button {
  font-family: inherit;
  border: none;
  outline: none;
}

button:focus-visible {
  outline: 2px solid #FF6B35;
  outline-offset: 2px;
}
